<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>775580019570-0qerg4d24iho2gk0lc1k9admg75e1i1k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.775580019570-0qerg4d24iho2gk0lc1k9admg75e1i1k</string>
	<key>API_KEY</key>
	<string>AIzaSyAnlkzmuC5GVncD7x7w4kKzg77qU96xZcE</string>
	<key>GCM_SENDER_ID</key>
	<string>775580019570</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.application2</string>
	<key>PROJECT_ID</key>
	<string>emaniti-fb63e</string>
	<key>STORAGE_BUCKET</key>
	<string>emaniti-fb63e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:775580019570:ios:2f83280450ae702bd48beb</string>
</dict>
</plist>